<div class="relative text-sm text-gray-900 h-screen w-screen flex items-center justify-center bg-gray-800">
  <div class="bg-white flex p-5 rounded-sm">
    <div class="flex justify-center items-center bg-green-400">
      <img class="w-96 h-96 bg-blue-400" alt="MISSING IMAGE" [src]="currPath" />
    </div>
    <div class="flex items-center justify-between flex-col ml-5">
      <div class="bg-blue-100 w-full p-1 mb-2">
        <p class="w-full">{{form.controls.file.value.name}}</p>
      </div>
      <app-image-input (uploaded)="onImageUpload($event)">Add image...</app-image-input>
      <p>Custom parameters setting</p>
      <div class="flex gap-3">
        <app-radio name="customParameters" [control]="form.controls.areCustomParametersApplied" label="Yes"
          [value]="true"></app-radio>
        <app-radio name="customParameters" [control]="form.controls.areCustomParametersApplied" label="No"
          [value]="false"></app-radio>
      </div>
      <app-input label="Clusters amount (1-100)" [control]="form.controls.clusterAmount"></app-input>
      <app-input label="Maximum file size (1-1000)" [control]="form.controls.maximumFileSize"></app-input>
      <p>Apply RAG</p>
      <div class="flex gap-3">
        <app-radio name="applyRag" [control]="form.controls.applyRag" label="Yes" [value]="true"></app-radio>
        <app-radio name="applyRag" [control]="form.controls.applyRag" label="No" [value]="false"></app-radio>
      </div>
      <app-input label="RAG threshold (1-32)" [control]="form.controls.ragThreshold"></app-input>
      <button [disabled]="form.controls.file.value.name==='Please upload file...'"
        class="bg-blue-600 text-white p-1 mt-2 w-full font-semibold mx-4 hover:bg-blue-400 disabled:hover:bg-blue-600 disabled:opacity-55 box-border"
        (click)="submit()">Calculate</button>
    </div>
  </div>
  <app-results *ngIf="!!rgbValues || error || isResponseLoading" class="absolute top-24 l-0 r-0" [error]="error"
    [isResponseLoading]="isResponseLoading" [results]="rgbValues"></app-results>
</div>

<router-outlet></router-outlet>